.card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    display: inline-grid;
    align-items: center;
    margin: 1rem 2rem;
    box-shadow: 3px 4px darkblue;
    overflow: auto;
    background-color: rgba(228, 238, 255, 0.6); 
}

#brewery-container {
    text-align: center;
}

p {
    line-height: 10px;
}

select {
    font-family: 'Segoe UI';
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    margin: 3px;
}

.submit {
    position: relative;
    background-color: darkblue;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: 'Segoe UI's;
    margin: 3px;
  }

  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: 'Segoe UI';
    margin: 3px;
  }

.phone-number {
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    border:  dashed gray;
    border-color: gray;
    background-color: white;
    padding-bottom: 20px;
    text-wrap: balance;
    padding: 20px;
}

.brewery-title {
    border: 1mm ridge white;
    background-color: white;
}
button {
    margin-top: 30px;
    position: relative;
    background-color: darkblue;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: white;
    font-size: 18px;
    justify-self: center;
}

body {
    font-family: 'Segoe UI';
    background-image: url("https://www.molsoncoorsblog.com/sites/mcblog/files/featured_images/CL-Mountain_SKy-12in.jpg");
    background-color: white;
    background-attachment: fixed;
}

#header {
    text-align: center;
    text-shadow: 1px 2px 0px white;

}

h1 {
    text-emphasis-color: white;
    text-emphasis-style: "*";
}

h2 {
    align-items: center;
    text-align: center;
    align-content: center;
    /* background-color: white; */
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

h3 {
    font-style: italic;
}

h4 {
    text-align: center;
}
#brewery-search-form {
    text-align: center;
}



